.Buttons_11 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.Buttons_12 {
	font-family: Lucida Grande;
	font-size: 11px;
}

.code {
	font-family: Monaco;
	font-size: 12px;
}

.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.large {
	font-family: Lucida Grande;
	font-size: 14px;
}

.medium {
	font-family: Lucida Grande;
	font-size: 12px;
}

.small {
	font-family: Lucida Grande;
	font-size: 10px;
}

.Title {
	font-family: Lucida Grande;
	font-size: 36px;
}

.x-large {
	font-family: Lucida Grande;
	font-size: 16px;
}

.x-small {
	font-family: Lucida Grande;
	font-size: 9px;
}

